@model Vidly_Web_Application.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Building)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Building)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester.SemesterDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester.SemesterDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, htmlAttributes: new { @class = "btn btn-small btn-primary" })
    @Html.ActionLink("View Timetable", "Index")
</p>
