@model Vidly_Web_Application.Models.User

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User Settings</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           <label class = "control-label col-md-2">Email: </label>
            <div class="col-md-10">
                @Html.DropDownList("UserEmail", null, htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <label class = "control-label col-md-2">Username: </label>
            <div class="col-md-10">
                @Html.DropDownList("Username", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
           <label class = "control-label col-md-2">Password: </label>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
           <label class = "control-label col-md-2">Role: </label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserRole,
                new List<SelectListItem>
                {
                    new SelectListItem {Text = "admin", Value = "admin"},
                    new SelectListItem {Text = "user", Value = "user" }
                }, "Select Role")
                @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        @*<div class="form-group">
            <label class = "control-label col-md-2">Security Question: </label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SecurityQuestion,
               new List<SelectListItem>
               {
                   new SelectListItem{Text = "What Is your favorite book?", Value = "What Is your favorite book?"},
                   new SelectListItem{Text = "What is your mother’s maiden name?", Value = "What is your mother’s maiden name?"},
                   new SelectListItem{Text = "What was the first company that you worked for?", Value = "What was the first company that you worked for?"},
                   new SelectListItem {Text = "Where is your favorite place to vacation?", Value = "Where is your favorite place to vacation?"}
               }, "Select Question")
                @Html.ValidationMessageFor(model => model.SecurityQuestion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />*@

        @*<div class="form-group">
            <label class = "control-label col-md-2">Security Answer: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecurityAnswer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecurityAnswer, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
    <br />
}
