@model Vidly_Web_Application.Models.User

@{
    ViewBag.Title = "Login";
    var result = ViewBag.Invalid;
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Vidly</title>
    <link type="text/css" href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/css/theme.css" rel="stylesheet">
    <link type="text/css" href="~/Content/images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
</head>

<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a>

                <a class="brand" href="/Home/Login">Vidly </a>

                <div class="nav-collapse collapse navbar-inverse-collapse">

                    <ul class="nav pull-right">
                        @*<li>
                            <a href="/Home/SignUp">Sign Up</a>
                        </li>*@
                        <li>
                            <a href="/Home/ForgotPassword">
                                Forgot your password?
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->



    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="module module-login span4 offset4">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        <fieldset>
                            @Html.AntiForgeryToken()
                            <div class="module-head">
                                <h3>Sign In</h3>
                            </div>
                            <div class="module-body">
                                <div class="control-group">
                                    <div class="controls row-fluid">
                                        <text>Username: </text>
                                        @Html.TextBoxFor(a => a.UserEmail)
                                        <br />
                                        @Html.ValidationMessageFor(a => a.UserEmail)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls row-fluid">
                                        <text>Password:  </text>
                                        @Html.PasswordFor(a => a.UserPassword)
                                        <br />
                                        @Html.ValidationMessageFor(a => a.UserPassword)
                                        @Html.ValidationMessage("LoginError")
                                    </div>
                                </div>
                            </div>
                            <div class="module-foot">
                                <div class="control-group">
                                    <div class="controls clearfix">
                                        <input type="submit" value="Login" class="btn btn-primary pull-right" />
                                        <label class="checkbox">
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <b class="copyright">&copy; Vidly Attendance Management System </b> All rights reserved.
        </div>
    </div>
    <!--/.wrapper-->



    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/flot/jquery.flot.js"></script>
    <script src="~/Scripts/flot/jquery.flot.resize.js"></script>
    <script src="~/Scripts/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/common.js"></script>
</body>
</html>